.card {
    height: 100vh;
    /* bottom: 0; */
    width: 25vw;
    background-color: rgb(0, 40, 58);
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    align-items: center;
    border-radius: 0.5rem;
}

.card-avatar {
    width: 6rem;
    height: 6rem;
    position: relative;
    display: inline-block;
}
.card-avatar img {
    border: 0.15rem #ffffff solid;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.name-box {
    height: 1.5rem;
    width: 1.5rem;
    box-shadow: 0 2px 4px -2px rgb(0 0 0 / 15%);
    border-radius: 0.75rem;
    text-align: center;
    font-size: 0.9rem;
    font-style: italic;
    position: absolute;
    border: solid 3px #fcfcfe;
    right: 0px;
    bottom: 0px;
    background-color: #ff8181;
    overflow: hidden;
    color: #fff;
    transition: width 0.2s ease-in-out, visible 0.2s ease-in-out;
}
.card-avatar:hover .name-box {
    width: 6rem;
    visibility: visible;
}

.card-title {
    font-weight: 900;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card-signature {
    font-size: 0.85rem;
    font-weight: 100;
    text-align: center;
}
.card-signature span {
    border-right: 0.08em solid #ffffff;
    width: 28ch;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(28), blink-caret 0.3s step-end infinite alternate;
}

@keyframes typing {
    0% {
        width: 0ch;
    }
    /* 动画会默认将结束状态设置为元素的初始宽度 */
    /* 100% {
        width: 28ch;
    } */
}
/* 同理 */
@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

/* 分割线 */
.divider {
    width: 80%;
    border-top: 1px dashed #b7b6b6;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-contact {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 100;
    margin: 0 0.5rem;
}

.info-box {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    font-size: 0.85rem;
}

.info-content {
    color: #747474;
}

.contact-me {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    width: 200px;
    height: 40px;
    line-height: 40px;
    border-radius: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, #ff8181 50%, #fff 60%, #ff8181 70%);
    /* 把渐变背景横向拉长，中间一个白条渐变，然后在 x 轴方向上移动 */
    background-size: 400% 100%;
    animation: shine 2.5s infinite;
}

@keyframes shine {
    0% {
        background-position-x: 100%;
    }
    100% {
        background-position-x: 0;
    }
}
