.hello-board {
    margin-left: 0.5rem;
}
.hello-board p:not(:first-child) {
    font-size: 2.5rem;
    font-weight: 900;
}

.hello-board p:first-child {
    font-size: 0.8rem;
    margin-top: 5rem;
    margin-bottom: 0.5rem;
}

.hello-board .navbtn {
    color: #ffffff;
    text-decoration: none;
    margin-top: 1rem;
    position: relative;
    border: 0.1rem solid #ffffff;
    width: 8rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}
.hello-board .navbtn::after {
    position: absolute;
    right: 10px;
    top: 50%;
    content: "";
    width: 0;
    height: 0;
    border-top: 0.25rem solid transparent;
    border-left: 0.5rem solid #ffffff;
    border-bottom: 0.25rem solid transparent;
    animation: bmove 1s infinite;
}
@keyframes bmove {
    0% {
        opacity: 1;
        transform: translateX(-0.5rem) translateY(-50%);
    }
    100% {
        opacity: 0;
        transform: translateX(0.3rem) translateY(-50%);
    }
}

.content-board {
    padding-top: 6rem;
}

.content-board .board1 {
    display: flex;
    justify-content: space-between;
}

.my-story {
    background-color: #00283a;
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    border-radius: 0.5rem;
}

.blockquote {
    position: relative;
    padding: 0;
    margin: 0;
    display: block;
    unicode-bidi: isolate;
    color: #ffffff;
    font-style: italic;
    font-size: 1rem;
    font-weight: 500;
}

.my-story .blockquote ::before {
    content: "“";
    font-size: 3rem;
    font-style: initial;
    color: #ff8181;
    position: absolute;
    left: -7rem;
    top: -2rem;
}
.my-story .blockquote ::after {
    content: "“";
    font-size: 3rem;
    font-style: initial;
    color: #ff8181;
    position: absolute;
    bottom: -3rem;
    right: -5rem;
}

.board2 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

video[poster] {
    object-fit: cover;
}
