.project-board {
    display: flex;
    padding-top: 6rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.project-item {
    flex: 0 0 48%;
    position: relative;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    overflow: hidden;
    min-width: 20rem;
}

.project-item img {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.project-item:hover img {
    transform: scale(1);
}

.project-title {
    position: absolute;
    height: 50%;
    bottom: -50%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    font-size: 0.9rem;
    background-color: var(--dark-main-color);
    opacity: 0.8;
    transition: 0.3s ease-in-out;
}

.project-item:hover .project-title {
    bottom: 0;
}
