* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 2px;
}

body {
    position: relative;
    width: 100%;
    height: auto;
    background-color: rgb(2, 22, 43);
    background-size: cover;
}

.bg-music {
    position: fixed;
    bottom: 10px;
    right: -13.25rem;
    z-index: 100;
    transition: 0.25s;
}
.bg-music:hover {
    right: 0;
}
.pic-background {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 35rem;
    background-image: url("@/assets/images/back/bgpic.webp");
    background-size: cover;
    /* background-position: center; */
    background-attachment: fixed;
    border-radius: 0 0 16px 16px;
}

.content {
    position: relative;
    width: 80%;
    padding: 3% 5% 5% 5%;
    z-index: 100;
    top: 100px;
    color: #ffffff;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
}
.main-content {
    width: 60%;
}

.hello-board {
    margin-left: 0.5rem;
}
.hello-board p:not(:first-child) {
    font-size: 2.5rem;
    font-weight: 900;
}

.hello-board p:first-child {
    font-size: 0.8rem;
    margin-top: 5rem;
    margin-bottom: 0.5rem;
}

.hello-board .navbtn {
    color: #ffffff;
    text-decoration: none;
    margin-top: 1rem;
    position: relative;
    border: 0.1rem solid #ffffff;
    width: 8rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}
.hello-board .navbtn::after {
    position: absolute;
    right: 10px;
    top: 50%;
    content: "";
    width: 0;
    height: 0;
    border-top: 0.25rem solid transparent;
    border-left: 0.5rem solid #ffffff;
    border-bottom: 0.25rem solid transparent;
    animation: bmove 1s infinite;
}
@keyframes bmove {
    0% {
        opacity: 1;
        transform: translateX(-0.5rem) translateY(-50%);
    }
    100% {
        opacity: 0;
        transform: translateX(0.3rem) translateY(-50%);
    }
}

.content-board {
    margin-top: 3rem;
}

.content-board .board1 {
    display: flex;
    justify-content: space-between;
}

.divider-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
}
.divider-name {
    font-weight: 900;
    white-space: nowrap;
}
.divider-box .divider {
    margin-right: 1rem;
    margin-left: 1rem;
    border-top: 1px dashed #b7b6b6;
    margin-top: 0;
    margin-bottom: 0;
}

.my-story {
    background-color: #00283a;
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.blockquote {
    position: relative;
    padding: 0;
    margin: 0;
    display: block;
    unicode-bidi: isolate;
    color: #ffffff;
    font-style: italic;
    font-size: 1rem;
    font-weight: 500;
}

.my-story .blockquote ::before {
    content: "“";
    font-size: 3rem;
    font-style: initial;
    color: #ff8181;
    position: absolute;
    left: -7rem;
    top: -2rem;
}
.my-story .blockquote ::after {
    content: "“";
    font-size: 3rem;
    font-style: initial;
    color: #ff8181;
    position: absolute;
    bottom: -3rem;
    right: -5rem;
}

.board2 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}
